h1 {
    font-size: 20px;
    color:black;
    font-weight: bold;
}

#box_signIn{
  position: fixed;
  top: 50%;
  left: 35%;
  margin-top: -100px;
  margin-left: -100px;
  width: 100%;
}

#box_register{
  position: fixed;
  top: 50%;
  left: 35%;
  margin-top: -120px;
  margin-left: -100px;
  width: 100%;
}

#button_login{
    float: right;
}

#upload_picture {
    text-align: center;
    margin-top: 2%;
    widows: 100%;
}

button.button, input[type="submit"].button{
    height: 36px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#title_page {
    text-align: center;
    margin-top: 10px;
}

#xml_box{
    justify-content: center;
}